server {
    listen      8181;

    server_name lighthouse;

    location / {
        root    {{ lh_home_dir }};
        index   index.html;
    }

    access_log /var/log/nginx/{{ lh_alog_name }}.log;

}